.loginsection{
    background:  url('/BG_5.png') no-repeat;
    background-size: cover;
    padding-block: 30px;
    height: 100vh;
}
.emailSec{
    display: flex;
    justify-content: space-between;
}
.react-international-phone-input{
    background-color: #e5e7eb !important;
    width: 100% !important;
    border-top-right-radius:0.75rem !important ;
    border-bottom-right-radius: 0.75rem !important;
    padding-block: 20px !important;
}
.react-international-phone-country-selector{
    padding-block: 2px !important;
}
.connectionDiv{
    padding-left: 3rem /* 48px */;
    padding-right: 3rem /* 48px */;
    padding-top: 2.5rem /* 40px */;
    padding-bottom: 2.5rem /* 40px */;
    margin-bottom: 1.25rem /* 20px */;
    height: 550px;
 }
 .shopifyAuth{
    padding-left: 3rem /* 48px */;
    padding-right: 3rem /* 48px */;
    margin-inline: 30px;
    padding-top: 1.25rem /* 20px */;
    padding-bottom: 1.25rem /* 20px */;
    margin-bottom: 1.25rem /* 20px */;
    color: #848484;
    height: 550px;
 }
 .whiteInfoDIv{
    grid-template-columns: repeat(6, minmax(0, 1fr));
    display: grid;
    gap: 15px;
    padding-top: 12px;
}
.mainSecDiv{
    height: 100vh;
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity)) /* #f3f4f6 */;
    display: flex;
    justify-content: center;

}
.welcome{
    font-size: 42px;
    font-family: 'Montserrat Semibold';
    color: #515151;
    display: flex;
    justify-content: center;
}
.input{
    font-size: 28px;
    font-family: 'Montserrat Semibold';
    color: #848484;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.platform{
    font-size: 28px;
    font-family: 'Montserrat Semibold';
    color: #848484;
}
.customApp{
    font-size: 25.33px;
    font-family: 'Montserrat regular';
    background-color: #538837;
    color: #e5e7eb;
    padding: 8px;
    text-align: center;
}
.boldText{
    font-family: 'Montserrat';
    font-weight: 700;
}
.firststep{
    font-size: 20px;
    font-family: 'Montserrat regular';
    margin-block: 16px;
    text-align: center;
    color: #a0a1a3;
}
.step{
    font-size: 20px;
    font-family: 'Montserrat regular';
    margin-block: 16px;
    text-align: center;
    color: #a0a1a3;
    width: 50%;
    margin-inline: auto;
}
.mainShopifyDiv{
    height: 100vh;
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity)) /* #f3f4f6 */;
    display: flex;
    justify-content: center;
}
.formDiv{
    --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity)) /* #ffffff */;
    padding-left: 3rem /* 48px */;
    padding-right: 3rem /* 48px */;
    padding-top: 1.25rem /* 20px */;
    padding-bottom: 1.25rem /* 20px */;
    border-radius: 1.5rem /* 24px */;
    margin-bottom: 1.25rem /* 20px */;
    font-size: 0.875rem /* 14px */;
    line-height: 1.25rem /* 20px */;
    height: 550px;
}
@media only screen and (min-width:400px) and (max-width: 767px) {
    .mainShopifyDiv{
        height: 100%;
    }
    .formDiv{
        padding-inline: 20px;
        padding-block: 10px;
    }
    .connectionDiv{
       padding: 10px; 
       margin:20px;
    }
    .shopifyAuth{
       padding: 10px; 
       margin:20px;
    }
    .loginsection{
        height: 100%;
        padding-block: 10px;
    }
    .whiteInfoDIv{
        gap:4px;
    }
}
@media only screen and (min-width:300px) and (max-width: 399px) {
    .mainShopifyDiv{
        height: 100%;
    }
    .mainSecDiv{
        height: 100%;
    }
    .formDiv{
        padding-inline: 20px;
        padding-block: 10px;
    }
    .connectionDiv{
       padding: 10px; 
       margin:20px;
    }
    .shopifyAuth{
       padding: 10px; 
       margin:20px;
    }
    .loginsection{
        height: 100%;
        padding-block: 10px;
    }
    .whiteInfoDIv{
        gap:4px;
    }
}
@media only screen and (max-width: 768px) {
    .emailSec{
        display: flex;
        flex-direction: column;
    }
    
}