.clickRatio{
    display: flex;
    justify-content: space-around;
    border-radius: 1rem/* 16px */;
    padding: 1.25rem/* 20px */;
    margin: 1.25rem/* 20px */;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.clickRate{
    width: 33.33%;
}
.ctrIncrease{
    width: 50%;
}
@media only screen and (max-width: 768px) {
    .clickRatio{
        display: flex;
        flex-direction: column;
        margin-inline: auto;
        width: 400px;
    }
    .clickRate{
        width: 300px;
    }
    .ctrIncrease{
        width: 300px;
    }
}