.boxcontainer{
    width: 500px;
    height: 350px;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
  .content {
    padding: 20px;
  }
  .heading{
    font-size: 1.5rem;
    text-align: center;
    font-weight: medium;
    color: cyan;
  }

