.campaignDesign{
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity));
    margin-left: 1.25rem/* 20px */;
    margin-right: 1.25rem/* 20px */;
    display: flex;
    justify-content: center;
    padding-bottom: 1.25rem/* 20px */;
    padding-top: 110px;
}

@media only screen and (max-width: 768px) {
    .campaignDesign{
        --tw-text-opacity: 1;
        color: rgb(0 0 0 / var(--tw-text-opacity));
        margin-left: 1.25rem/* 20px */;
        margin-right: 1.25rem/* 20px */;
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-top: 1.25rem/* 20px */;
        padding-bottom: 1.25rem/* 20px */;
    }
}