.editorDiv {
  position: relative;/* Ensure this matches minHeight of EmailEditor */
}

.whiteDiv {
  width: 430px;
  height: 60px;
  position: absolute;
  right: 0px;
  background-color: white;
  padding: 10px;
  bottom: -140px;
  z-index: 1; /* Ensure it appears on top */
}
