.editorDiv {
  position: relative;
  height: 1000px; /* Ensure this matches minHeight of EmailEditor */
}

.whiteDiv {
  width: 450px;
  height: 85px;
  position: absolute;
  right: 100px;
  transform: translate(0%, -50%);
  background-color: #f0efef;
  padding: 10px;
  bottom: -20%;
  z-index: 1; /* Ensure it appears on top */
}
