.editorDiv {
  position: relative;/* Ensure this matches minHeight of EmailEditor */
}

.whiteDiv {
  width: 550px;
  height: 60px;
  position: absolute;
  right: 0px;
  background-color: #f0efef;
  padding: 10px;
  bottom: -100px;
  z-index: 1; /* Ensure it appears on top */
}
