nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav a{
    text-decoration: none;
    color: rgb(155, 146, 146);
    padding-inline: 30px;
    text-align: center;
    font-size: 16px;
}
nav a:hover{
    color:#439541
}
.navbarSec{
    display: flex;
    justify-content: space-around;
}
.name{
    color: rgb(130, 124, 124);
    font-size:25px;
    font-weight: 500;
    text-align: center;
}
.header-fixed{
    padding: 15px;
    box-shadow:0 5px 5px #ccc;
    background-color: #fff;
}
.headerlogo{
    width: 80px;
}
.header-fixed .hamburger-menu {
    display: none;
    cursor: pointer;
  }
  
  /* Style the navigation items when the menu is open */
  .header-fixed nav.open {
    display: flex;
  }
  
.links{
    display: flex;
    align-items: center;
}
/* Media query for mobile devices */
@media (max-width: 768px) {
    .header-fixed nav {
        display: flex;
        justify-content: space-around;
      }
    
      .header-fixed nav a {
        margin: 10px 0;
      }
    
      .header-fixed .hamburger-menu {
        display: block; /* Show the hamburger menu button */
      }
    
      .header-fixed nav a {
        display: none; /* Hide navigation items by default on mobile */
      }
      .header-fixed nav.open{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .header-fixed nav.open a {
        display: block; /* Show navigation items when the menu is open */
      }
    .links{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .header-fixed{
        padding-block: 10px;
        padding-inline: 2px;
    }
    .navbarSec{
        display: flex;
        justify-content: space-between;
    }
    nav a {
        margin-right: 5px;
        padding: 0px; /* Adjust padding for better mobile layout */
        font-size: 8px; /* Reduce font size for better mobile readability */
    }
    .headerlogo{
        width: 40px;
        height: 40px;
    }
    .name {
        font-size: 20px; /* Adjust font size for better mobile readability */
    }
}