
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav a{
    text-decoration: none;
    color: #4c4c4c;
    padding-inline: 30px;
    text-align: center;
    font-size: 16px;
}
nav a:hover{
    color:#439541
}
.navbarSec{
    display: flex;
    justify-content: space-around;
    width: 100%;
    
}
.name{
    color: rgb(130, 124, 124);
    font-size:25px;
    font-weight: 500;
    text-align: center;
}
.newLink{
  background-color: #294F41;
  padding: 15px;
  color: white;
}
.dropdown-content {
    background-color: white; /* Set background color to white */
    color: black; /* Set text color to black */
}
.header-fixed{
    padding: 15px;
    box-shadow:0 5px 5px #ccc;
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
.header-fix{
    padding: 15px;
    box-shadow:0 5px 5px #ccc;
    background-color: #fff;
    
    
}
.headerlogo{
    width: 80px;
}
.hamburger-menu {
    height: 0;
    width: 0;
    display: none;
    cursor: pointer;
  }
  
  /* Style the navigation items when the menu is open */
  .header-fixed nav.open {
    display: flex;
  }
  
.links{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sidebar{
  height: 0;
  width: 0;
  display: none;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .logoutBtn{
    display: none;
  }
  .mobileHeader{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
  }
 
.sidebar {
  display: block;
  height: 450px;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 34px;
  background-color: #fff;
  overflow-x: hidden;
  transition: width 0.3s;
  padding-top: 60px;
  color: #000000;
  
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  display: block;
  transition: 0.3s;
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 5px;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .close-btn {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 36px;
  margin-right: 20px;
  border-bottom: none;
}



    .header-fixed nav {
        display: flex;
        justify-content: space-around;
      }
    
      .header-fixed nav a {
        margin: 10px 0;
      }
    
       .hamburger-menu {
        margin-top: 5px;
        position: relative;
        display: inline-block;
        width: 40px;
        height: 40px; /* Show the hamburger menu button */
      }
    
      .header-fixed nav a {
        display: none; /* Hide navigation items by default on mobile */
      }
      .navbarSec div{
        display: none;
      }
      .header-fixed nav.open{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .header-fixed nav.open a {
        display: block; /* Show navigation items when the menu is open */
      }
    .links{
        display: flex;
        flex-direction: column;
        align-items: normal;
    }
    .header-fixed{
        padding-block: 10px;
        padding-inline: 2px;
    box-shadow:none;
    }
    .navbarSec{
        display: flex;
        justify-content: space-between;
    }
    nav a {
        margin-right: 5px;
        padding: 0px; /* Adjust padding for better mobile layout */
        font-size: 8px; /* Reduce font size for better mobile readability */
    }
    .headerlogo{
        width: 40px;
        height: 40px;
    }
    .name {
        font-size: 20px; /* Adjust font size for better mobile readability */
    }

   

}

@media only screen and (min-width: 769px) and (max-width: 1075px){
  nav a{
    text-decoration: none;
    color: #4c4c4c;
    padding-inline: 15px;
    text-align: center;
    font-size: 8px;
}
}