
.firstSec{
    display: flex;
    justify-content: center;
    border-radius: 1rem
}
.secondSec{
    display: flex;
    justify-content: center;
}
.thirdSec{
    display: flex;
    justify-content: center;
    margin-top: 1.25rem
}
.header1{

    font-size: 40px;
    color: #649445;
    font-weight: bold;
    margin-bottom: 10px;
}
.lineChart{
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    width:733px;
    display: flex;
    justify-content: space-between;
    border-radius: 1rem/* 16px */;
}
.greenSec{
    width: 30px;
     background: #439541;
     border-start-start-radius: 1rem/* 16px */;
    border-end-start-radius: 1rem
}
.realTimeDiv{
    background-image: url('/embg.png');
    padding: 2.5rem
}
.realTimeDiv div{
    background-color: #f8f8f8;
}
.orderChart{
    margin-top: 1.25rem;/* 20px */;
    margin-bottom: 1.25rem;
    border-radius: 0.75rem;
}
.customerChart{
    margin-top: 1.25rem;/* 20px */;
    margin-bottom: 1.25rem;
    border-radius: 0.75rem;
}


.revenueChart{
    margin-top: 1.25rem;
    border-radius: 1rem;
    display: flex;
    width: 733px;
    height: 200px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
.custom-hr{
    width: 300px;
    height: 1px; /* Adjust the thickness of the line as needed */
    background-color: #000;
    margin-block: auto;
}
.writingSection{
    padding: 0.5rem;
    width: 350px;
    height: 180px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 0.75rem;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0.5rem
}
.mapSection{
    height: 100px;
}
.mobileViewChart{
    display: none;
}
@media only screen and (max-width: 768px) {
    .chart-container{
        display: none;
    }
    .header1{
        font-size: 20px;
    }
    .mobileViewChart{
        display: block;
    }
    .realTimeDiv{
        padding: 10px
    }
    .lineChart{
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
        width:350px;

    }
    .greenSec{
        width: 30px;
        background: #439541;
    }
    .orderChart{
        display: none;
    }
    .customerChart{
        display: none;
    }
    .writingSection{
        width: 350px;
        height: 100px;
        padding: 0;
        font-size: smaller;
        overflow: hidden;
        padding: 5px;
        margin-inline-start: auto;
    }

    .custom-hr{
        width: 1px;
        height: 30px; /* Adjust the thickness of the line as needed */
        background-color: #000;
        margin-inline: auto;
    }
    .firstSec{
        flex-direction: column;
    }
    .secondSec{
        flex-direction: column;
        margin-block: 10px;
    }
    .thirdSec{
        flex-direction: column;
    }
    .revenueChart{
        border-radius: 1rem;
        display: flex;
        width: 350px;
        height: 200px;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
        font-size: 8px;
        margin-top: 0;
    }
    .mapImgSec{
        display: flex;
        align-items: center;
        width: 350px;
    }
  }