/* CSS Animation */

.integrationDiv{
  background-image: url('/BG_4.png');
}
.line-with-circle {
    position: relative;
    display: inline-block;
  }
  
  .line {
    width: 100px; /* Adjust the length of the line as needed */
    height: 2px; /* Adjust the thickness of the line as needed */
    background-color: white;
    transform: translate(86px,0px);
  }
  .secondline {
    width: 100px; /* Adjust the length of the line as needed */
    height: 2px; /* Adjust the thickness of the line as needed */
    background-color: white;
    transform: translate(186px,-2px);
  }
  
  .wooline{
    width: 2px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    background-color: white;/* Center the line horizontally */
    transform: translate(-83px,-65px)rotate(90deg); 
    display: block;
    position: absolute;
  }
  .instaline{
    width: 100px; /* Adjust the length of the line as needed */
    height: 2px; /* Adjust the thickness of the line as needed */
    background-color:white;
    transform:translate(-35px,0px)
  }
  .galine{
    width: 100px; /* Adjust the length of the line as needed */
    height: 2px; /* Adjust the thickness of the line as needed */
    background-color:white;
    transform: translate(13px,1px);
  }
  .smsline{
    width: 2px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    background-color: white;/* Center the line horizontally */
    transform: translate(-90px,-35px)rotate(90deg); /* Move the line upward */
    display: block;
    position: absolute;
  }
  .secondsmsline{
    width: 2px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    background-color: white;/* Center the line horizontally */
    transform: translate(-190px,-35px)rotate(90deg); /* Move the line upward */
    display: block;
    position: absolute;
  }
  .whatsappline{
    width: 100px; /* Adjust the length of the line as needed */
    height: 2px; /* Adjust the thickness of the line as needed */
    background-color:white;
    transform:translate(89px,0px)
  }
  .upwardline {
    width: 100px; /* Adjust the length of the line as needed */
    height: 2px; /* Adjust the thickness of the line as needed */
    background-color: white;
    transform: translate(100px,-100px);
  }
  .instaupwardline{
    width: 100px; /* Adjust the length of the line as needed */
    height: 2px; /* Adjust the thickness of the line as needed */
    background-color: white;
    transform: translate(-135px,-100px);
  }
  .whatsappupwardline{
    width: 100px; /* Adjust the length of the line as needed */
    height: 2px; /* Adjust the thickness of the line as needed */
    background-color: white;
    transform: translate(187px,-108px);
  }
  .woolinecircle{
    width: 16px; /* Adjust the size of the circle as needed */
    height: 16px; /* Adjust the size of the circle as needed */
    background-color: white; /* Adjust the circle color as needed */
    border-radius: 50%; /* Makes the circle round */
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-20px, -24px);
  }
  .galinecircle{
    width: 16px; /* Adjust the size of the circle as needed */
    height: 16px; /* Adjust the size of the circle as needed */
    background-color: white; /* Adjust the circle color as needed */
    border-radius: 50%; /* Makes the circle round */
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(52px, -8px);
  }
  .whatsapplinecircle{
    width: 16px; /* Adjust the size of the circle as needed */
    height: 16px; /* Adjust the size of the circle as needed */
    background-color: white; /* Adjust the circle color as needed */
    border-radius: 50%; /* Makes the circle round */
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0px, -8px);
  }
  .smslinecircle{
    width: 16px; /* Adjust the size of the circle as needed */
    height: 16px; /* Adjust the size of the circle as needed */
    background-color: white; /* Adjust the circle color as needed */
    border-radius: 50%; /* Makes the circle round */
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-24px, 6px);
  }
  .instalinecircle{
    width: 16px; /* Adjust the size of the circle as needed */
    height: 16px; /* Adjust the size of the circle as needed */
    background-color: white; /* Adjust the circle color as needed */
    border-radius: 50%; /* Makes the circle round */
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(50px,-10px);
  }
  .linecircle {
    width: 16px; /* Adjust the size of the circle as needed */
    height: 16px; /* Adjust the size of the circle as needed */
    background-color: white; /* Adjust the circle color as needed */
    border-radius: 50%; /* Makes the circle round */
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(70px,-7px);
  }
  .firstupward-line {
    width: 2px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    background-color: white;/* Center the line horizontally */
    transform: translate(250px,-100px); /* Move the line upward */
    display: block;
    position: absolute;
}
  .upward-line {
    width: 2px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    background-color: white;/* Center the line horizontally */
    transform: translate(100px,-50px)rotate(90deg); /* Move the line upward */
    display: block;
    position: absolute;
}
  .secondupward-line {
    width: 2px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    background-color: white;/* Center the line horizontally */
    transform: translate(200px,-50px)rotate(90deg); /* Move the line upward */
    display: block;
    position: absolute;
}
.whatsappupward-line{
    width: 2px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    background-color: white;/* Center the line horizontally */
    transform: translate(238px,-51px)rotate(90deg); /* Move the line upward */
    display: block;
    position: absolute;
}
.instaupward-line{
    width: 2px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    background-color: white;/* Center the line horizontally */
    transform: translate(-240px,-84px); /* Move the line upward */
    display: block;
    position: absolute;
}