/* CSS Animation */
.whatsAPp{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.25rem/* 20px */;
  margin-bottom: 1.25rem/* 20px */;
}
.integrationDiv{
  background-image: url('/BG_4.jpg');
  padding: 2.5rem/* 40px */;
}
.integrationHeading{
  font-size: 3rem/* 48px */;
    line-height: 1;
     font-weight: 700;
     --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    text-align: center;
}
.integrationPara{
  font-size: 1.5rem/* 24px */;
  line-height: 2rem/* 32px */;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  text-align: center;
}
.gA{
  display: flex;
  justify-content: center;
  align-items: center;
}
.line-with-circle {
    position: relative;
    display: inline-block;
  }
  .rightSection{
    margin-bottom: 20px;
  }
  .line {
    width: 200px; /* Adjust the length of the line as needed */
    height: 2px; /* Adjust the thickness of the line as needed */
    background-color: white;
    transform: translate(65px,0px);
  }
  .secondline {
    width: 100px; /* Adjust the length of the line as needed */
    height: 2px; /* Adjust the thickness of the line as needed */
    background-color: white;
    transform: translate(186px,-2px);
  }
  
  .wooline{
    width: 190px; /* Adjust the length of the line as needed */
    height: 1px; /* Adjust the thickness of the line as needed */
    background-color: white;
    transform: translate(0px,-15px);
  }
  .instaline{
    width: 190px; /* Adjust the length of the line as needed */
    height: 1px; /* Adjust the thickness of the line as needed */
    background-color: white;
    transform: translate(0px,-15px);
  }
  .instaDiv{
    display: flex;
    align-items: center;
    margin-top: 1.25rem/* 20px */;
    margin-bottom: 1.25rem/* 20px */;
  }
  .smsDiv{
    display: flex;
    align-items: center;
  }
  .galine{
    width: 100px; /* Adjust the length of the line as needed */
    height: 2px; /* Adjust the thickness of the line as needed */
    background-color:white;
    transform: translate(13px,1px);
  }
  .smsline{
    width: 100px; /* Adjust the length of the line as needed */
    height: 1px; /* Adjust the thickness of the line as needed */
    background-color: white;
    transform: translate(0px,29px);
  }
  .secondsmsline{
    width: 2px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    background-color: white;/* Center the line horizontally */
    transform: translate(-190px,-35px)rotate(90deg); /* Move the line upward */
    display: block;
    position: absolute;
  }
  .whatsappline{
    width: 190px; /* Adjust the length of the line as needed */
    height: 2px; /* Adjust the thickness of the line as needed */
    background-color:white;
    transform:translate(50px,0px)
  }
  .leftIntegration{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .upwardline {
    width: 100px; /* Adjust the length of the line as needed */
    height: 2px; /* Adjust the thickness of the line as needed */
    background-color: white;
    transform: translate(100px,-100px);
  }
  .instaupwardline{
    width: 100px; /* Adjust the length of the line as needed */
    height: 2px; /* Adjust the thickness of the line as needed */
    background-color: white;
    transform: translate(-135px,-100px);
  }
  .whatsappupwardline{
    width: 100px; /* Adjust the length of the line as needed */
    height: 2px; /* Adjust the thickness of the line as needed */
    background-color: white;
    transform: translate(187px,-108px);
  }
  .woolinecircle{
    width: 16px; /* Adjust the size of the circle as needed */
    height: 16px; /* Adjust the size of the circle as needed */
    background-color: white; /* Adjust the circle color as needed */
    border-radius: 50%; /* Makes the circle round */
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0px,-22px);
  }
  .galinecircle{
    width: 16px; /* Adjust the size of the circle as needed */
    height: 16px; /* Adjust the size of the circle as needed */
    background-color: white; /* Adjust the circle color as needed */
    border-radius: 50%; /* Makes the circle round */
    display: block;
    position: absolute;
    
    top: 50%;
    transform: translate(35px, 13px);
  }
  .whatsapplinecircle{
    width: 16px; /* Adjust the size of the circle as needed */
    height: 16px; /* Adjust the size of the circle as needed */
    background-color: white; /* Adjust the circle color as needed */
    border-radius: 50%; /* Makes the circle round */
    display: block;
    position: absolute;
    
    top: 50%;
    transform: translate(35px, -8px);
  }
  .smslinecircle{
    width: 16px; /* Adjust the size of the circle as needed */
    height: 16px; /* Adjust the size of the circle as needed */
    background-color: white; /* Adjust the circle color as needed */
    border-radius: 50%; /* Makes the circle round */
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-35px,20px);
  }
  .instalinecircle{
    width: 16px; /* Adjust the size of the circle as needed */
    height: 16px; /* Adjust the size of the circle as needed */
    background-color: white; /* Adjust the circle color as needed */
    border-radius: 50%; /* Makes the circle round */
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0px,-22px);
  }
  .linecircle {
    width: 16px; /* Adjust the size of the circle as needed */
    height: 16px; /* Adjust the size of the circle as needed */
    background-color: white; /* Adjust the circle color as needed */
    border-radius: 50%; /* Makes the circle round */
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(50px,-7px);
  }
  .firstupward-line {
    width: 2px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    background-color: white;/* Center the line horizontally */
    transform: translate(0px,0px); /* Move the line upward */
    display: block;
    bottom: -20px;
    right: -50px;
    position: absolute;
}
  .second-line {
    width: 200px; /* Adjust the length of the line as needed */
    height: 1px; /* Adjust the thickness of the line as needed */
    background-color: white;
    transform: translate(-50px,28px);
}
  .smsupward-line {
    width: 1px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    background-color: white;/* Center the line horizontally */
    transform: translate(0px,30px); /* Move the line upward */
    display: block;
    bottom: 2px;
    left: -50px;
    position: absolute;
}

  .upward-line {
    width: 100px; /* Adjust the length of the line as needed */
    height: 1px; /* Adjust the thickness of the line as needed */
    background-color:#ffff;
    transform:translate(0px,20px)
}
  .secondupward-line {
    width: 200px; /* Adjust the length of the line as needed */
    height: 1px; /* Adjust the thickness of the line as needed */
    background-color:white;
    transform:translate(48px,20px)
}
.whatsappupward-line{
    width: 2px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    background-color: white;/* Center the line horizontally */
    transform: translate(238px,-51px)rotate(90deg); /* Move the line upward */
    display: block;
    position: absolute;
}
.instaupward-line{
    width: 2px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    background-color: white;/* Center the line horizontally */
    transform: translate(-240px,-84px); /* Move the line upward */
    display: block;
    position: absolute;
}

.appName{
  font-size: 20px;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  padding-left: 0.5rem/* 8px */;
    padding-right: 0.5rem/* 8px */;
}
.gaappName{
  font-size: 20px;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  padding-left: 0.5rem/* 8px */;
    padding-right: 0.5rem/* 8px */;
    display: block;
    transform: translate(0,20px);
}
.instaappName{
  font-size: 20px;
  line-height: 2.25rem/* 36px */;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  padding-left: 0.5rem/* 8px */;
    padding-right: 0.5rem/* 8px */;
    display: block;
    transform: translate(0,-20px);
}
.wooappName{
  font-size: 20px;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  padding-left: 0.5rem/* 8px */;
    padding-right: 0.5rem/* 8px */;
    display: block;
    transform: translate(0,-20px);
}
.more{
  font-size: 20px;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  padding-left: 0.5rem/* 8px */;
    padding-right: 0.5rem/* 8px */;
    display: block;
    transform: translate(0,25px);
}

.gaImage{
  width: 80px;
  height: 80px;
  color: #f8f8f8;
  /* display: block;
  transform: translate(0,20px); */
}
.gaPic{
  width: 80px;
  height: 80px;
  color: #f8f8f8;
  display: block;
  transform: translate(0,20px);
}
.instaImage{
  width: 80px;
  height: 80px;
  color: #f8f8f8;
  display: block;
  transform: translate(0,-20px);
  margin-left: 50px;
}
.wooImage{
  width: 80px;
  height: 80px;
  color: #f8f8f8;
  display: block;
  transform: translate(0,-15px);
  margin-left: 50px;
}
.integratiobImage{
  padding-bottom: 200px;
}
.integratiobImage img{
  height: 250px;
}
@media only screen and (max-width: 768px) {

  /* CSS Animation */

.integrationDiv{
  padding: 0px;
}
.integrationHeading{
  padding-top: 10px;
  font-size: 24px;
}
.integrationPara{
  font-size: 12px;
  line-height: 16px;
  padding-bottom: 20px;
}
.line-with-circle {
    position: relative;
    display: inline-block;
  }
  
  .gaImage{
    width: 30px;
    height: 40px;
  }
  .appName{
    font-size: 14px;
  }
  .shopify{
    transform: translate(-35px,-20px);
  }
  .line{
    width: 100px;
  }
  .whatsAPp{
    transform: translate(-35px,-10px);
  }
  .whatsappline{
    width: 100px;
  }
  .gA{
    transform: translate(-20px,-20px);
  }
  .gaPic{
    width: 30px;
    height: 30px;
  }
  .gaappName{
    font-size: 14px;
  }
  .secondupward-line{
    width: 100px;
  }
  .firstupward-line{
    height: 30px;
  }
  .integratiobImage img{
    width: 150px;
    height: 200px;
  }
  .wooImage{
    width: 30px;
    height: 30px;
  }
  .wooappName{
    font-size: 14px;
  }
  .wooline{
    width: 100px;
  }
  .instaDiv{
    transform: translate(0px,20px);
  }
  .instaImage{
    width: 30px;
    height: 30px;
  }
  .instaappName{
    font-size: 14px;
  }
  .instaline{
    width: 100px;
  }
  .smsupward-line{
    height: 30px;
  }
  .second-line{
    width: 100px;
  }
  .smsDiv{
    transform: translate(20px,-10px);
  }


.integratiobImage{
  padding-bottom: 75px;
}
.integratiobImage img{
  width: 95px;
  height: 100px;
}
.whatsAPp{
  margin: 0;
}
.instaDiv{
  margin: 0;
}
.smsDiv{
  margin: 0;
}
}

@media only screen and (min-width: 769px) and (max-width: 999px){
  

    /* CSS Animation */
  
  .integrationDiv{
    padding: 0px;
  }
  .integrationHeading{
    padding-top: 10px;
    font-size: 24px;
  }
  .integrationPara{
    font-size: 12px;
    line-height: 16px;
    padding-bottom: 20px;
  }
  .integratiobImage{
    padding-bottom: 200px;
    }
  .line-with-circle {
      position: relative;
      display: inline-block;
    }
    
    .gaImage{
      width: 30px;
      height: 40px;
    }
    .appName{
      font-size: 14px;
    }
    .shopify{
      transform: translate(-35px,-20px);
    }
    .line{
      width: 100px;
    }
    .whatsAPp{
      transform: translate(-35px,-30px);
    }
    .whatsappline{
      width: 100px;
    }
    .gA{
      transform: translate(0px,-40px);
    }
    .gaPic{
      width: 30px;
      height: 30px;
    }
    .gaappName{
      font-size: 14px;
    }
    .secondupward-line{
      width: 100px;
    }
    .firstupward-line{
      height: 50px;
    }
    .integratiobImage img{
      width: 150px;
      height: 200px;
    }
    .wooImage{
      width: 30px;
      height: 30px;
    }
    .wooappName{
      font-size: 14px;
    }
    .wooline{
      width: 100px;
    }
    .instaImage{
      width: 30px;
      height: 30px;
    }
    .instaappName{
      font-size: 14px;
    }
    .instaline{
      width: 100px;
    }
    .smsupward-line{
      height: 50px;
    }
    .second-line{
      width: 150px;
    }
    .smsDiv{
      transform: translate(0px,-30px);
    }
  
}

@media only screen and (min-width: 1000px) and (max-width: 1280px){
  .gaImage{
    width: 50px;
  }
  .appName{
    font-size: 18px;
  }
  .shopify{
    transform: translate(-35px,0px);
  }
  .line{
    width: 150px;
  }
  .whatsAPp{
    transform: translate(-35px,-25px);
  }
  .whatsappline{
    width: 150px;
  }
  .gA{
    transform: translate(0px,-50px);
  }
  .gaPic{
    width: 50px;
    height: 50px;
  }
  .gaappName{
    font-size: 18px;
  }
  .secondupward-line{
    width: 100px;
  }
  .firstupward-line{
    height: 50px;
  }
  .integratiobImage img{
    width: 200px;
  }
  .wooImage{
    width: 50px;
    height: 50px;
  }
  .wooappName{
    font-size: 18px;
  }
  .wooline{
    width: 150px;
  }
  .instaImage{
    width: 50px;
    height: 50px;
  }
  .instaappName{
    font-size: 18px;
  }
  .instaline{
    width: 150px;
  }
  .smsupward-line{
    height: 50px;
  }
  .second-line{
    width: 150px;
  }
  .smsDiv{
    transform: translate(0px,-20px);
  }
}