/* CSS Animation */
.whatsAPp{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.25rem/* 20px */;
  margin-bottom: 1.25rem/* 20px */;
}
.integrationDiv{
  background-image: url('/BG_4.png');
  padding: 2.5rem/* 40px */;
}
.gA{
  display: flex;
  justify-content: center;
  align-items: center;
}
.line-with-circle {
    position: relative;
    display: inline-block;
  }
  .rightSection{
    margin-bottom: 20px;
  }
  .line {
    width: 190px; /* Adjust the length of the line as needed */
    height: 2px; /* Adjust the thickness of the line as needed */
    background-color: white;
    transform: translate(0px,0px);
  }
  .secondline {
    width: 100px; /* Adjust the length of the line as needed */
    height: 2px; /* Adjust the thickness of the line as needed */
    background-color: white;
    transform: translate(186px,-2px);
  }
  
  .wooline{
    width: 190px; /* Adjust the length of the line as needed */
    height: 2px; /* Adjust the thickness of the line as needed */
    background-color: white;
    transform: translate(0px,0px);
  }
  .instaline{
    width: 190px; /* Adjust the length of the line as needed */
    height: 2px; /* Adjust the thickness of the line as needed */
    background-color: white;
    transform: translate(0px,0px);
  }
  .instaDiv{
    display: flex;
    align-items: center;
    margin-top: 1.25rem/* 20px */;
    margin-bottom: 1.25rem/* 20px */;
  }
  .smsDiv{
    display: flex;
    align-items: center;
  }
  .galine{
    width: 100px; /* Adjust the length of the line as needed */
    height: 2px; /* Adjust the thickness of the line as needed */
    background-color:white;
    transform: translate(13px,1px);
  }
  .smsline{
    width: 100px; /* Adjust the length of the line as needed */
    height: 2px; /* Adjust the thickness of the line as needed */
    background-color: white;
    transform: translate(0px,10px);
  }
  .secondsmsline{
    width: 2px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    background-color: white;/* Center the line horizontally */
    transform: translate(-190px,-35px)rotate(90deg); /* Move the line upward */
    display: block;
    position: absolute;
  }
  .whatsappline{
    width: 190px; /* Adjust the length of the line as needed */
    height: 2px; /* Adjust the thickness of the line as needed */
    background-color:white;
    transform:translate(0px,0px)
  }
  .leftIntegration{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .upwardline {
    width: 100px; /* Adjust the length of the line as needed */
    height: 2px; /* Adjust the thickness of the line as needed */
    background-color: white;
    transform: translate(100px,-100px);
  }
  .instaupwardline{
    width: 100px; /* Adjust the length of the line as needed */
    height: 2px; /* Adjust the thickness of the line as needed */
    background-color: white;
    transform: translate(-135px,-100px);
  }
  .whatsappupwardline{
    width: 100px; /* Adjust the length of the line as needed */
    height: 2px; /* Adjust the thickness of the line as needed */
    background-color: white;
    transform: translate(187px,-108px);
  }
  .woolinecircle{
    width: 16px; /* Adjust the size of the circle as needed */
    height: 16px; /* Adjust the size of the circle as needed */
    background-color: white; /* Adjust the circle color as needed */
    border-radius: 50%; /* Makes the circle round */
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0px,-7px);
  }
  .galinecircle{
    width: 16px; /* Adjust the size of the circle as needed */
    height: 16px; /* Adjust the size of the circle as needed */
    background-color: white; /* Adjust the circle color as needed */
    border-radius: 50%; /* Makes the circle round */
    display: block;
    position: absolute;
    
    top: 50%;
    transform: translate(0px, -8px);
  }
  .whatsapplinecircle{
    width: 16px; /* Adjust the size of the circle as needed */
    height: 16px; /* Adjust the size of the circle as needed */
    background-color: white; /* Adjust the circle color as needed */
    border-radius: 50%; /* Makes the circle round */
    display: block;
    position: absolute;
    
    top: 50%;
    transform: translate(0px, -8px);
  }
  .smslinecircle{
    width: 16px; /* Adjust the size of the circle as needed */
    height: 16px; /* Adjust the size of the circle as needed */
    background-color: white; /* Adjust the circle color as needed */
    border-radius: 50%; /* Makes the circle round */
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0px,0px);
  }
  .instalinecircle{
    width: 16px; /* Adjust the size of the circle as needed */
    height: 16px; /* Adjust the size of the circle as needed */
    background-color: white; /* Adjust the circle color as needed */
    border-radius: 50%; /* Makes the circle round */
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0px,-7px);
  }
  .linecircle {
    width: 16px; /* Adjust the size of the circle as needed */
    height: 16px; /* Adjust the size of the circle as needed */
    background-color: white; /* Adjust the circle color as needed */
    border-radius: 50%; /* Makes the circle round */
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0px,-7px);
  }
  .firstupward-line {
    width: 2px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    background-color: white;/* Center the line horizontally */
    transform: translate(0px,0px); /* Move the line upward */
    display: block;
    bottom: 2px;
    right: -100px;
    position: absolute;
}
  .second-line {
    width: 100px; /* Adjust the length of the line as needed */
    height: 2px; /* Adjust the thickness of the line as needed */
    background-color: white;
    transform: translate(-100px,8px);
}
  .smsupward-line {
    width: 2px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    background-color: white;/* Center the line horizontally */
    transform: translate(0px,10px); /* Move the line upward */
    display: block;
    bottom: 3px;
    left: -100px;
    position: absolute;
}

  .upward-line {
    width: 100px; /* Adjust the length of the line as needed */
    height: 2px; /* Adjust the thickness of the line as needed */
    background-color:white;
    transform:translate(0px,0px)
}
  .secondupward-line {
    width: 100px; /* Adjust the length of the line as needed */
    height: 2px; /* Adjust the thickness of the line as needed */
    background-color:white;
    transform:translate(100px,-2px)
}
.whatsappupward-line{
    width: 2px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    background-color: white;/* Center the line horizontally */
    transform: translate(238px,-51px)rotate(90deg); /* Move the line upward */
    display: block;
    position: absolute;
}
.instaupward-line{
    width: 2px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    background-color: white;/* Center the line horizontally */
    transform: translate(-240px,-84px); /* Move the line upward */
    display: block;
    position: absolute;
}

.appName{
  font-size: 1.875rem/* 30px */;
  line-height: 2.25rem/* 36px */;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  padding-left: 0.5rem/* 8px */;
    padding-right: 0.5rem/* 8px */;
}

.gaImage{
  width: 80px;
  height: 80px;
  color: #f8f8f8;
}
.integratiobImage{
  padding-bottom: 200px;
}
.integratiobImage img{
  height: 250px;
}
@media only screen and (max-width: 768px) {

  /* CSS Animation */

.integrationDiv{
  padding: 0px;
}
.line-with-circle {
    position: relative;
    display: inline-block;
  }
  
  .line {
    width: 50px; /* Adjust the length of the line as needed */
    height: 2px; /* Adjust the thickness of the line as needed */
    background-color: white;
    transform: translate(0px,0px);
  }
  .secondline {
    width: 50px; /* Adjust the length of the line as needed */
    height: 2px; /* Adjust the thickness of the line as needed */
    background-color: white;
    transform: translate(186px,-2px);
  }
  
  .wooline{
    width: 50px; /* Adjust the length of the line as needed */
    height: 2px; /* Adjust the thickness of the line as needed */
    background-color: white;
    transform: translate(0px,0px);
  }
  .instaline{
    width: 50px; /* Adjust the length of the line as needed */
    height: 2px; /* Adjust the thickness of the line as needed */
    background-color: white;
    transform: translate(0px,0px);
  }
  .galine{
    width: 100px; /* Adjust the length of the line as needed */
    height: 2px; /* Adjust the thickness of the line as needed */
    background-color:white;
    transform: translate(13px,1px);
  }
  .smsline{
    width: 50px; /* Adjust the length of the line as needed */
    height: 2px; /* Adjust the thickness of the line as needed */
    background-color: white;
    transform: translate(0px,10px);
  }
  .secondsmsline{
    width: 2px; /* Adjust the width as needed */
    height: 90px; /* Adjust the height as needed */
    background-color: white;/* Center the line horizontally */
    transform: translate(-190px,-35px)rotate(90deg); /* Move the line upward */
    display: block;
    position: absolute;
  }
  .whatsappline{
    width: 50px; /* Adjust the length of the line as needed */
    height: 2px; /* Adjust the thickness of the line as needed */
    background-color:white;
    transform:translate(0px,0px)
  }
  .upwardline {
    width: 90px; /* Adjust the length of the line as needed */
    height: 2px; /* Adjust the thickness of the line as needed */
    background-color: white;
    transform: translate(100px,-100px);
  }
  .instaupwardline{
    width: 90px; /* Adjust the length of the line as needed */
    height: 2px; /* Adjust the thickness of the line as needed */
    background-color: white;
    transform: translate(-135px,-100px);
  }
  .whatsappupwardline{
    width: 90px; /* Adjust the length of the line as needed */
    height: 2px; /* Adjust the thickness of the line as needed */
    background-color: white;
    transform: translate(187px,-108px);
  }
  .woolinecircle{
    width: 16px; /* Adjust the size of the circle as needed */
    height: 16px; /* Adjust the size of the circle as needed */
    background-color: white; /* Adjust the circle color as needed */
    border-radius: 50%; /* Makes the circle round */
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0px,-7px);
  }
  .galinecircle{
    width: 16px; /* Adjust the size of the circle as needed */
    height: 16px; /* Adjust the size of the circle as needed */
    background-color: white; /* Adjust the circle color as needed */
    border-radius: 50%; /* Makes the circle round */
    display: block;
    position: absolute;
    
    top: 50%;
    transform: translate(0px, -8px);
  }
  .whatsapplinecircle{
    width: 16px; /* Adjust the size of the circle as needed */
    height: 16px; /* Adjust the size of the circle as needed */
    background-color: white; /* Adjust the circle color as needed */
    border-radius: 50%; /* Makes the circle round */
    display: block;
    position: absolute;
    
    top: 50%;
    transform: translate(0px, -8px);
  }
  .smslinecircle{
    width: 16px; /* Adjust the size of the circle as needed */
    height: 16px; /* Adjust the size of the circle as needed */
    background-color: white; /* Adjust the circle color as needed */
    border-radius: 50%; /* Makes the circle round */
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0px,0px);
  }
  .instalinecircle{
    width: 16px; /* Adjust the size of the circle as needed */
    height: 16px; /* Adjust the size of the circle as needed */
    background-color: white; /* Adjust the circle color as needed */
    border-radius: 50%; /* Makes the circle round */
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0px,-7px);
  }
  .linecircle {
    width: 16px; /* Adjust the size of the circle as needed */
    height: 16px; /* Adjust the size of the circle as needed */
    background-color: white; /* Adjust the circle color as needed */
    border-radius: 50%; /* Makes the circle round */
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0px,-7px);
  }
  .firstupward-line {
    width: 2px; /* Adjust the width as needed */
    height: 25px; /* Adjust the height as needed */
    background-color: white;/* Center the line horizontally */
    transform: translate(0px,0px); /* Move the line upward */
    display: block;
    bottom: 2px;
    right: -30px;
    position: absolute;
}
  .second-line {
    width: 30px; /* Adjust the length of the line as needed */
    height: 2px; /* Adjust the thickness of the line as needed */
    background-color: white;
    transform: translate(-30px,8px);
}
  .smsupward-line {
    width: 2px; /* Adjust the width as needed */
    height: 25px; /* Adjust the height as needed */
    background-color: white;/* Center the line horizontally */
    transform: translate(0px,10px); /* Move the line upward */
    display: block;
    bottom: 3px;
    left: -30px;
    position: absolute;
}

  .upward-line {
    width: 50px; /* Adjust the length of the line as needed */
    height: 2px; /* Adjust the thickness of the line as needed */
    background-color:white;
    transform:translate(0px,0px)
}
  .secondupward-line {
    width: 30px; /* Adjust the length of the line as needed */
    height: 2px; /* Adjust the thickness of the line as needed */
    background-color:white;
    transform:translate(50px,-2px)
}
.whatsappupward-line{
    width: 2px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    background-color: white;/* Center the line horizontally */
    transform: translate(238px,-51px)rotate(90deg); /* Move the line upward */
    display: block;
    position: absolute;
}
.instaupward-line{
    width: 2px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    background-color: white;/* Center the line horizontally */
    transform: translate(-240px,-84px); /* Move the line upward */
    display: block;
    position: absolute;
}

.appName{
  font-size: 6px;
  line-height: 8px;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  
}

.gaImage{
  width: 20px;
  height: 20px;
  color: #f8f8f8;
}

.integratiobImage{
  padding-bottom: 75px;
}
.integratiobImage img{
  width: 95px;
  height: 100px;
}
.whatsAPp{
  margin: 0;
}
.instaDiv{
  margin: 0;
}
.smsDiv{
  margin: 0;
}
}