@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&display=swap');

.firstLine {
  font-weight: 700;
  font-size: 50px;
}
.secondLine{
  color:#40BADC;
  display: flex;
  align-items: center;
  font-size: 3rem/* 48px */;
    line-height: 1;
    font-weight: 600;
    padding-top: 2rem/* 32px */;
    padding-bottom: 2rem
}
.thirdLine{
  font-size: 1.5rem/* 24px */;
    line-height: 2rem;
    font-weight: 500;
    color:#6b6b6b;
}
.sixthLine{
  display: flex;
  align-items: center;
  font-size: 1.5rem/* 24px */;
    line-height: 2rem;
    font-weight: 500;
    padding-top: 3rem;
    color:#6b6b6b;
}
.IntroSec{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 160px;
}
.background {
  background-image: url('/embg.png');
  background-size: cover;
  /* Adjust to your needs */
  background-repeat: no-repeat;
  background-position: center center;
  padding-bottom: 20px;
  
}

.image-container {
  position: relative;
  z-index: 1;
  /* Adjust the width as needed */

}

.top-image {
  height: 350px;
  width: 450px;
  position: absolute;
  top: 75px;
  left: -235px;
  width: 100%;
  /* To cover the entire container width */
  z-index: 1;
  /* Places it on top of the bottom image */
}

.third-image {
  height: 350px;
  width: 450px;
  position: absolute;
  top: 210px;
  left: -50px;
  width: 100%;
  /* To cover the entire container width */
  z-index: 1;
}

.bottom-image {
  height: 350px;
  width: 450px;
  width: 100%;
  z-index: 0;
  /* Places it below the top image */
}

.circle {
  padding: 15px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #439541;
  position: relative;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  z-index: 2;
  left: 2%;
  transform: translate(-160%, -25%);

}

.arrow {
  width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #6b6b6b;
      transform: translate(0%, 0%) rotate(90deg);
}


.center-image {
  width: 90%;
  height: 90%;
  object-fit: cover;
  margin-inline: auto;
}
.developImg{
  display: flex;
  justify-content: center;
  margin-top: 5.50rem/* 20px */;
    margin-bottom: 1.25rem/* 20px */;

}
@media only screen and (max-width: 768px) {
  .IntroSec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }
  .bottom-image {
    height: 150px;
    width: 150px;
    z-index: 0;
    /* Places it below the top image */
  }
  .third-image {
    height: 150px;
    width: 150px;
    position: absolute;
    top: 175px;
  left: 0px;
    /* To cover the entire container width */
    z-index: 1;
  }
  .top-image {
    height: 150px;
    width: 150px;
    top: 100px;
  left: -50px;
  /* To cover the entire container width */
  z-index: 1;
    /* Places it on top of the bottom image */
  }
  .center-image {
    width: 90px;
    height: 90px;
    object-fit: cover;
  }
  .circle {
    padding: 5px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #439541;
    position: relative;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    z-index: 2;
    top: 60px;
    left: 50px;
  
  }
  .image-container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Adjust the width as needed */
  
  }
  .firstLine {
    font-weight: 700;
    font-size: 30px;
  }
  .secondLine{
    color:#62cbc6;
    display: flex;
    align-items: center;
    font-size: 25px/* 48px */;
      line-height: 1;
      font-weight: 600;
      padding-top: 2rem/* 32px */;
      padding-bottom: 2rem
  }
  .thirdLine{
    font-size: 16px/* 24px */;
      line-height: 2rem;
      font-weight: 500;
      color:#6b6b6b;
  }
  .sixthLine{
    display: flex;
    align-items: center;
    font-size: 16px/* 24px */;
      line-height: 2rem;
      font-weight: 500;
      padding-top: 3rem;
      color:#6b6b6b;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1450px){
  .IntroSec{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
  }
  .bottom-image {
    height: 300px;
    width: 300px;
    z-index: 0;
    /* Places it below the top image */
  }
  .third-image {
    height: 300px;
    width: 300px;
    position: absolute;
    top: 250px;
  left: -30px;
    /* To cover the entire container width */
    z-index: 1;
  }
  .top-image {
    height: 300px;
    width: 300px;
    top: 100px;
  left: -150px;
  /* To cover the entire container width */
  z-index: 1;
    /* Places it on top of the bottom image */
  }
  .center-image {
    width: 90px;
    height: 90px;
    object-fit: cover;
  }
  .circle {
    padding: 5px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #439541;
    position: relative;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    z-index: 2;
    top: 60px;
    left: -100px;
  
  }
  .image-container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Adjust the width as needed */
  
  }
  .firstLine {
    font-weight: 700;
    font-size: 40px;
  }
  .secondLine{
    color:#62cbc6;
    display: flex;
    align-items: center;
    font-size: 30px/* 48px */;
      line-height: 1;
      font-weight: 600;
      padding-top: 2rem/* 32px */;
      padding-bottom: 2rem
  }
  .thirdLine{
    font-size: 20px/* 24px */;
      line-height: 2rem;
      font-weight: 500;
      color:#6b6b6b;
  }
  .sixthLine{
    display: flex;
    align-items: center;
    font-size: 16px/* 24px */;
      line-height: 2rem;
      font-weight: 500;
      padding-top: 3rem;
      color:#6b6b6b;
  }
}
@media only screen and (min-width: 769px) and (max-width: 999px){
  .IntroSec{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
  }
  .bottom-image {
    height: 200px;
    width: 200px;
    z-index: 0;
    /* Places it below the top image */
  }
  .third-image {
    height: 200px;
    width: 200px;
    position: absolute;
    top: 150px;
  left: -10px;
    /* To cover the entire container width */
    z-index: 1;
  }
  .top-image {
    height: 200px;
    width: 200px;
    top: 50px;
  left: -80px;
  /* To cover the entire container width */
  z-index: 1;
    /* Places it on top of the bottom image */
  }
  .center-image {
    width: 90px;
    height: 90px;
    object-fit: cover;
  }
  .circle {
    padding: 5px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #439541;
    position: relative;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    z-index: 2;
    top: 0px;
    left: 10px;
  
  }
  .image-container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Adjust the width as needed */
  
  }
  .firstLine {
    font-weight: 700;
    font-size: 40px;
  }
  .secondLine{
    color:#62cbc6;
    display: flex;
    align-items: center;
    font-size: 30px/* 48px */;
      line-height: 1;
      font-weight: 600;
      padding-top: 2rem/* 32px */;
      padding-bottom: 2rem
  }
  .thirdLine{
    font-size: 20px/* 24px */;
      line-height: 2rem;
      font-weight: 500;
      color:#6b6b6b;
  }
  .sixthLine{
    display: flex;
    align-items: center;
    font-size: 16px/* 24px */;
      line-height: 2rem;
      font-weight: 500;
      padding-top: 3rem;
      color:#6b6b6b;
  }
}